.details h2 {
  font-size: 3.5em;
  margin-top: 80px;
  padding-left: 5%;
}
.details h3 {
  font-size: 2em;
  font-weight: 400;
  padding-left: 5%;
  padding-bottom: 2%;
}
.html {
  margin-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
}
.featured {
  /* margin-bottom: 40px; */
  padding-left: 20%;
  padding-right: 20%;
}